.designWorksContainer{
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.designWorksInfo{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.designWorksTitle{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.designWorksTitle h1{
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
}

.designWorksData{
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.designWorksSubTitle{
    width: 100%;
    height: 50px;
}

.card__face--front2 {
    border: 2px solid #ffffff50;
    background-image: linear-gradient(to bottom right, var(--three), var(--four));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__header2{
    position: relative;
    height: 190px;
    background-color: #ffffff;
    border-radius: 0 0px 7% 7%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ppCard {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 270px;
    /* border: thin dotted #f00; */
}

.pp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.pp3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140%;
    position: relative;
    margin-left: -50px;
}

@media (min-width: 1200px) and (max-width: 1399px){

    .designWorksContainer{
        width: 100%;
        height: 1750px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
         /* border: thin dotted #f00; */
    }
    
    .designWorksInfo{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .ppCard {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 230px;
        /* border: thin dotted #f00; */
    }

    .pp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -30px;
    }

    .pp3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140%;
        position: relative;
        margin-left: -5px;
    }

}
