.designWorksContainer{
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.designWorksInfo{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.designWorksTitle{
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.designWorksTitle h1{
    font-family: 'Anton', sans-serif;
    font-size: 3.5em;
}

.designWorksTitle p{
    font-size: 20px;
    padding: 5px 0;
    line-height: 20px;
    text-align: center;
}

.designWorksData{
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.designWorksSubTitle{
    width: 100%;
    height: 50px;
}

.card__face--front2 {
    border: 2px solid #ffffff50;
    background-image: linear-gradient(to bottom right, var(--three), var(--four));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card__header2{
    position: relative;
    height: 190px;
    background-color: #ffffff;
    border-radius: 0 0px 7% 7%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ppCard {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 270px;
    /* border: thin dotted #f00; */
}

.pp2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.pp3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140%;
    position: relative;
    margin-left: -50px;
}

.invisible{
    display: none;
}

@media (min-width: 1200px) and (max-width: 1399px){

    .designWorksContainer{
        width: 100%;
        height: 1750px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
         /* border: thin dotted #f00; */
    }
    
    .designWorksInfo{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .ppCard {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 230px;
        /* border: thin dotted #f00; */
    }

    .pp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -30px;
    }

    .pp3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140%;
        position: relative;
        margin-left: -5px;
    }

}

@media (min-width: 992px) and (max-width: 1199px){

    .designWorksContainer{
        width: 100%;
        height: 1400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
         /* border: thin dotted #f00; */
    }
    
    .designWorksInfo{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .designWorksTitle{
        width: 50%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .card__face--front2 h2 {
        font-size: 22px;
    }

    .card__header2{
        position: relative;
        height: 150px;
        background-color: #ffffff;
        border-radius: 0 0px 7% 7%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ppCard {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 200px;
        /* border: thin dotted #f00; */
    }

    .pp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 15px;
    }

    .pp3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150%;
        position: relative;
        margin-left: -5px;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .designWorksContainer{
        width: 100%;
        height: auto;
        display: flex;
        padding: 130px 0 50px 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
         /* border: thin dotted #f00; */
        }
        
        .designWorksInfo{
            width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .designWorksTitle{
        width: 80%;
        height: 70px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .designWorksTitle h1{
        font-size: 3.2rem;
    }

    .card__face--front2 h2 {
        font-size: 22px;
    }

    .card__header2{
        position: relative;
        height: 150px;
        background-color: #ffffff;
        border-radius: 0 0px 7% 7%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: thin dotted #f00; */
    }

    .ppCard {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 200px;
        /* border: thin dotted #f00; */
    }

    .pp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 15px;
    }

    .pp3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150%;
        position: relative;
        margin-left: -5px;
    }

}

@media (min-width: 576px) and (max-width: 767px){

    .designWorksContainer{
        width: 100%;
        height: 1400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
         /* border: thin dotted #f00; */
    }
    
    .designWorksInfo{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .designWorksTitle{
        width: 60%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .designWorksTitle h1{
        font-size: 3rem;
    }

    .card__face--front2 h2 {
        font-size: 22px;
    }

    .card__header2{
        position: relative;
        height: 110px;
        background-color: #ffffff;
        border-radius: 0 0px 7% 7%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ppCard {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 170px;
        margin-top: -5px;
        /* border: thin dotted #f00; */
    }

    .pp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        margin-top: 10px;
    }

    .pp3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120%;
        position: relative;
        margin-left: 10px;
    }

}