.contactContainer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.contact{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contactImage{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contactImage img{
    height: 600px;
}

.contactForm{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
}

.Form{
    width: 100%; 
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.TitleLocation h1{
    font-family: 'Anton', sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-left: 10px;
}

.SubTitleLocation{
    width: 650px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.InputFormContact{
    width: 80%;
    height: 30px;
    padding: 10px;
    margin-left: 11px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.InputFormContact:focus{
    outline:  solid 1px #f00;
}

.TextAreaFormContact{
    width: 80%;
    height: 150px;
    margin-left: 11px;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.TextAreaFormContact:focus{
    outline: solid 1px #f00;
}

.ButtonFormContact{
    width: 120px;
    height: 35px; 
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s all;
}

.ButtonFormContact:hover{
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}


@media (min-width: 1200px) and (max-width: 1399px){

    .contact{
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .contactImage img{
        height: 550px;
    }
    
    .contactForm{
        width: 52%;
        height: 550px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
        /* border: thin dotted #f00; */
    }

    .SubTitleLocation{
        width: 530px;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        margin-left: 10px;
    }
    
    .InputFormContact{
        width: 90%;
        height: 30px;
        padding: 10px;
        margin-left: 11px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }

    .TextAreaFormContact{
        width: 90%;
        height: 150px;
        margin-left: 11px;
        padding: 10px;
        resize: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }

}

@media (min-width: 992px) and (max-width: 1199px){

    .contact{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: thin dotted #f00; */
    }

    .contactImage{
        width: 40%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: thin dotted #f00; */
    }
    
    .contactImage img{
        height: 500px;
    }
    
    .contactForm{
        width: 52%;
        height: 550px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
        /* border: thin dotted #f00; */
    }

    .TitleLocation h1{
        font-family: 'Anton', sans-serif;
        font-size: 38px;
        font-weight: bold;
        margin-left: 10px;
    }

    .SubTitleLocation{
        width: 450px;
        font-family: 'Quicksand', sans-serif;
        font-size: 17.5px;
        margin-left: 10px;
    }
    
    .InputFormContact{
        width: 95%;
        height: 30px;
        padding: 10px;
        margin-left: 11px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }

    .TextAreaFormContact{
        width: 95%;
        height: 150px;
        margin-left: 11px;
        padding: 10px;
        resize: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }


}

@media (min-width: 768px) and (max-width: 991px){

    .contact{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: thin dotted #f00; */
    }

    .contactImage{
        width: 40%;
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: thin dotted #f00; */
    }
    
    .contactImage img{
        height: 400px;
    }
    
    .contactForm{
        width: 52%;
        height: 550px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
    }
    
    .TitleLocation h1{
        font-family: 'Anton', sans-serif;
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .SubTitleLocation{
        width: 360px;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        margin-left: 10px;
    }
    
    .InputFormContact{
        width: 95%;
        height: 30px;
        font-size: 13px;
        padding: 10px;
        margin-left: 11px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    
    .TextAreaFormContact{
        width: 95%;
        height: 150px;
        font-size: 13px;
        margin-left: 11px;
        padding: 10px;
        resize: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    
    .ButtonFormContact{
        width: 100px;
        height: 30px; 
        margin-top: 20px;
        margin-left: 10px;
        border: none;
        background: #000000;
        color: #fff;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        transition: 0.5s all;
    }
    
    
}

@media (min-width: 576px) and (max-width: 767px){

    .contact{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-image: linear-gradient(rgba(204, 204, 204, 0.85), rgba(204, 204, 204, 1)), url('../../assets/mail.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .contact img{
        opacity: 0.1;
    }
    
    .contactImage{
        display: none;
    }
    
    .contactForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .TitleLocation h1{
        text-align: center;
    }
    
    .SubTitleLocation{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        font-size: 18px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .InputFormContact{
        width: 80%;
        height: 30px;
        font-size: 13px;
        padding: 10px;
        margin-left: 11px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    
    
}

@media (max-width: 600px){

    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(204, 204, 204, 0.90), rgba(204, 204, 204, 0.90)), url('../../assets/mail2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150%;
    }

    .contactImage{
        display: none;
    }
    
    .contactForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .TitleLocation h1{
        text-align: center;
        font-size: 2.7rem;
    }
    
    .SubTitleLocation{
        width: 80%;
        text-align: left;
        margin: 0 auto;
        font-size: 16px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .InputFormContact{
        width: 80%;
        height: 30px;
        font-size: 13px;
        padding: 10px;
        margin-left: 11px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    }
    
}