.footerContainer{
    width: 50%;
    height: 80px;
    padding: 20px 0;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #00000080;
    font-size: 15px;
}

.footerMe, .footerSocialMedia{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerMe{
    width: 65%;
    justify-content: flex-end;
}

.footerSocialMedia{
    width: 35%;
    justify-content: space-around;
}

.footerRed a{
    padding: 0 10px;
}

.footerRed img{
    height: 30px;
}


/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  @media (min-width: 992px) and (max-width: 1199px){

    .footerContainer{
        width: 60%;
        height: 80px;
        padding: 20px 0;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #00000080;
        font-size: 13px;
    }

    .footerMe{
        width: 60%;
        justify-content: flex-end;
    }

    .footerRed img{
        height: 25px;
    }
    
  }

  @media (min-width: 768px) and (max-width: 991px){

    .footerContainer{
        width: 70%;
        height: 80px;
        padding: 20px 0;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #00000080;
        font-size: 13px;
        /* border: thin dotted #f00; */
    }
    
    .footerMe{
        width: 60%;
        justify-content: flex-end;
        /* border: thin dotted #f00; */
    }

    .footerRed img{
        height: 25px;
    }

  }

  @media (min-width: 576px) and (max-width: 767px){

    .footerContainer{
        width: 80%;
        height: 80px;
        padding: 20px 0;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #00000080;
        font-size: 13px;
        /* border: thin dotted #f00; */
    }
    
    .footerMe{
        width: 65%;
        justify-content: flex-end;
        /* border: thin dotted #f00; */
    }

    .footerRed img{
        height: 23px;
    }
  }