*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 1200px) and (max-width: 1920px){

  .TopContainer{
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('./assets/code-letters-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .NavMobile{
    display: none;
  }

}

@media (min-width: 992px) and (max-width: 1199px){

  .TopContainer{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('./assets/code-letters-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .NavMobile{
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px){

  .TopContainer{
    width: 100%;
    height: 770px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('./assets/code-letters-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .NavMobile{
    display: none;
  }

}

@media (min-width: 601px) and (max-width: 767px){

  .TopContainer{
    width: 100%;
    height: 750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('./assets/code-letters-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .NavMobile{
    display: none;
  }

}

@media (max-width: 576px){

  .TopContainer{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url('./assets/code-letters-wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NavMobile{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  .App{
    overflow-x: hidden;
  }

}

@media (max-width: 576px) and (max-height:667px){

  .TopContainer{
    margin-bottom: 20px;
  }

  .NavMobile{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }

  .App{
    overflow-x: hidden;
  }

}